<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./images/logo.png" type="image/png" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="preload"
      as="style"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap"
      rel="preload"
      as="style"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <title>Restaurant Apps - Optimized</title>
  </head>
  <body>
    <section class="loader-container">
      <div class="loader"></div>
      <div class="loader"></div>
      <div class="loader"></div>
    </section>
    <a href="#main" class="skip-link">Skip To Content</a>
    <header>
      <div class="header-title">
        <h1 class="title">Flavoroso</h1>
        <img src="./images/logo.png" alt="logo-website" />
      </div>
      <button id="nav-drawer" class="nav-drawer" aria-label="navigation-menu">☰</button>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li>
            <a href="https://github.com/mhfdSyauqi" target="_blank" rel="noopener">About Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="main"></main>

    <footer>
      <section class="footer-container">
        <p>Copyright © 2021 | Restaurant Apps - Optimization</p>
      </section>
    </footer>
  </body>
</html>
